.header {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @apply grid place-items-center;
    @apply text-center;

    @apply bg-black;

    @apply text-white;
}

.header h1 {
    @apply font-bold text-3xl md:text-5xl lg:text-7xl;
}

.header p {
    @apply font-normal text-xl md:text-3xl lg:text-5xl;
}

.header .header__chevron {
    @apply w-full;
    @apply absolute bottom-20;
    
    @apply flex flex-col justify-center items-center;
}

.header__chevron svg {
    @apply w-10 md:w-14;
    @apply transition-all;
    @apply animate-bounce;
}

.wrapper {
    @apply container;
    @apply flex flex-col items-center justify-center;
    @apply p-4 mx-auto;
}

.course {
    @apply bg-white;
    @apply h-auto p-4 py-24;
}

.course .course__layout {
    @apply flex flex-col justify-center items-center gap-4;
}

.course_grid {
    @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 md:gap-6;
}

.review {
    @apply bg-golden-tainoi;
    @apply h-auto p-4;
}

.review .chevron {
    @apply transition-all;
    @apply w-full p-5;
    @apply grid place-items-center;
    @apply animate-bounce;
}

.review_grid {
    @apply mt-4;
    @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3;
}

.review_pics {
    @apply transition-all;
    @apply relative w-64 h-64 m-2;
    @apply select-none;

    @apply hover:-translate-y-2;
    @apply hover:shadow-lg;
}

.study {
    @apply bg-white;
    @apply h-auto p-4 py-24;
    @apply text-center lg:text-left;
}

.study .content {
    @apply w-full lg:w-3/5;
}

.study .map {
    @apply w-full md:w-96 h-48;
}

.study .study__layout {
    @apply w-full md:w-3/5;
    @apply flex flex-col items-center justify-between;
    @apply gap-4;
    @apply lg:flex-row;
}
